<div class="row">
    <div class="list-group">
        {{#each autores}}
        <a href="/autores/editar/{{id}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{nombre}}</h5>
                <small class="text-muted">Presionar para ver detalles y editar</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
        </a>
        {{/each}}
    </div>
</div>