<div class="jumbotron mt-4">
    <h1 class="display-4">
        Proyecto Final
    </h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia vitae libero porro saepe facilis nihil id ipsum? Reiciendis consequuntur voluptatum maxime assumenda odio facilis adipisci id fugiat quod et.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis eaque commodi molestias repellat pariatur tempore sequi aspernatur mollitia, vitae necessitatibus!</p>
    <a href="#" class="btn btn-light">Computación en la Nube</a>
</div>