body {
    font-family: 'Rubik', sans-serif;
    background: #2e3440;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #eceff4;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #eceff4;
    background-color: #2e3440;
}

.card {
    color: #eceff4;
    background-color: #3b4252;
}

.btn-success {
    background-color: #81a1c1;
    border-color: #81a1c1;
    color: #2e3440;
}

.btn-success:hover {
    background-color: #88c0d0;
    border-color: #88c0d0;
    color: #2e3440;
}

.btn-success:focus {
    background-color: #81a1c1;
    border-color: #81a1c1;
    color: #2e3440;
}

.btn-warning {
    background-color: #ebcb8b;
    border-color: #ebcb8b;
    color: #2e3440;
}

.btn-warning:hover {
    background-color: #e9d4ab;
    border-color: #e9d4ab;
    color: #2e3440;
}

.btn-warning:focus {
    background-color: #ebcb8b;
    border-color: #ebcb8b;
    color: #2e3440;
}

.btn-danger {
    background-color: #bf616a;
    border-color: #bf616a;
    color: #2e3440;
}

.btn-danger:hover {
    background-color: #b97f85;
    border-color: #b97f85;
    color: #2e3440;
}

.btn-danger:focus {
    background-color: #bf616a;
    border-color: #bf616a;
    color: #2e3440;
}

.btn-info {
    background-color: #a3be8c;
    border-color: #a3be8c;
    color: #2e3440;
}

.btn-info:hover {
    background-color: #acbe9b;
    border-color: #acbe9b;
    color: #2e3440;
}

.btn-info:focus {
    background-color: #a3be8c;
    border-color: #a3be8c;
    color: #2e3440;
}

.btn-secondary {
    background-color: #b48ead;
    border-color: #b48ead;
    color: #2e3440;
}

.btn-secondary:hover {
    background-color: #cea6c7;
    border-color: #cea6c7;
    color: #2e3440;
}

.btn-secondary:focus {
    background-color: #b48ead;
    border-color: #b48ead;
    color: #2e3440;
}

.form-control {
    background-color: #d8dee9;
    color: #4c566a;
    border: #d8dee9;
}

.form-control:focus {
    background-color: #d8dee9;
    color: #4c566a;
    border: #d8dee9;
}

.form-select {
    background-color: #d8dee9;
    color: #4c566a;
    border: #d8dee9;
}

.form-select:focus {
    background-color: #d8dee9;
    color: #4c566a;
    border: #d8dee9;
}

.select-editable {
    position: relative;
    background-color: #d8dee9;
    border: solid grey 1px;
    height: 30px;
    margin-bottom: 2rem;
}

.select-editable select {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    border: none;

    margin: 0;
}

.select-editable input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 33px;
    width: 320px;
    padding: 1px;
    font-size: 1rem;
    border: none;
    margin-left: 5px;
}
.card-img-top {
    width: 100%;
    height: 24vw;
    object-fit: cover;
}
a {
    text-decoration:none;
}

.bgVista {
    color: #eceff4;
    background-color: #3b4252;
}
