<!-- Footer -->
<footer class="bg-footer text-center text-white">
  <div class="container p-4">
    <section class="mb-3">
      <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/" role="button">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-twitter"></i>
      </a>
    </section>
    <section class="mb-3">
      <h3 class="display-5">BOOKYLIB </h3>
  </section>


    <section class="mb-3">
        <a href="/" class="m-3 text-white">Inicio</a>
        <a href="https://github.com/dgox16/ProyectoFinal_ComputoNube" class="m-3 text-white">Ver Github</a>
        <a href="/usuarios/iniciar" class="m-3 text-white">Inicia Sesion</a>
        <a href="/usuarios/registro" class="text-white m-3">Registrate</a>
    </section>


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021: Diego Armando Gómez Martinez
  </div>

</footer>
