<nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Proyecto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Acerca de</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/libro">Libros</a></li>
                        <li><a class="dropdown-item" href="/libro/agregar">Agregar libro</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {{#if user.esAdministrador}}
                        <li><a class="dropdown-item" href="/usuarios/administrar">Administrar Usuarios</a></li>
                        {{/if}}
                        <li><a class="dropdown-item" href="/usuarios/cerrarSesion">Cerrar Sesión</a></li>
                        
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/usuarios/iniciar" class="nav-link">Inicio Sesión</a>
                </li>
                <li class="nav-item">
                    <a href="/usuarios/registro" class="nav-link">Registrarse</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>