<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h1>Libro</h1>
            </div>
            <div class="card-body">
                <form action="/libro/agregar" method="post" enctype="multipart/form-data">
                    <div class="form-group p-1">
                        <input type="text" class="form-control" name="titulo" placeholder="Inserte el titulo">
                    </div>
                    <div class="form-group p-1">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="imagen">
                        </div>
                    </div>
                    <div class="form-group p-1">
                        <textarea name="descripcion" class="form-control">Descripcion</textarea>
                    </div>

                    <button class="btn btn-success col-12 p-2">
                        Añadir libro
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>