<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h1>Agrega tu nueva lectura</h1>
            </div>
            <div class="card-body">
                <form action="/libro/agregar" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label">Agregue el titulo del libro</label>
                        <input type="text" class="form-control" name="titulo">
                    </div>
                    <div class="form-group p-1">
                        <label class="form-label">Agregue su portada</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="imagen">
                        </div>
                    </div>
                    <div class="form-group p-1">
                        <label class="form-label">Seleccione el autor o agregue uno nuevo</label>
                        <div class="select-editable">
                            <select class="form-select" onchange="this.nextElementSibling.value=this.value">
                                <option value=""></option>
                                {{#each autores}}
                                <option value="{{nombre}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            <input type="text" class="form-control" name="autor" value="" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="form-label">¿Qué calificación le darias?</label>
                        <input type="range" class="form-range" min="0" max="5" name="calificacion">
                    </div>
                    <div class="form-group p-1">
                        <select class="form-select" name="añoLectura">
                            <option selected>Año de Lectura</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                          </select>
                    </div>
                    <button class="btn btn-info col-12 mt-2">
                        Añadir libro
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>