<div class="row">
    {{#each libros}}
    <div class="col-md-4">
        <div class="card">
            <img src={{path}} class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ titulo }}</h5>
                <p class="card-text">{{ autor }}</p>
            </div>
            <div class="card-footer">
                <p class="card-text">{{ timeago createdAt }} </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>